---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer id="about">
  <h2 class="text-3xl font-bold mb-6 text-hub-title dark:text-hub-title-dark">About Me</h2>
  <div class="text-hub-light-gray dark:text-hub-dark-gray text-lg leading-relaxed">
    A results-oriented Software Developer and IT Consultant with over five years of
    experience in full-lifecycle software development, including mobile and web
    applications. Proven ability to deliver high-quality solutions, from concept
    to deployment, for a diverse clientele. Possesses strong expertise in cloud
    infrastructure management, data analysis, and technical instruction. A
    dedicated and fast learner, committed to leveraging emerging technologies to
    solve complex problems and drive user engagement.
  </div>
</SectionContainer>
