---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer id="about">
  <h2 class="text-2xl font-semibold mb-4 text-hub-light-blue dark:text-hub-dark-blue">About Me</h2>
  <div class="text-hub-light-gray dark:text-hub-dark-gray text-md">
    A results-oriented Software Developer and IT Consultant with over five years of
    experience in full-lifecycle software development, including mobile and web
    applications. Proven ability to deliver high-quality solutions, from concept
    to deployment, for a diverse clientele. Possesses strong expertise in cloud
    infrastructure management, data analysis, and technical instruction. A
    dedicated and fast learner, committed to leveraging emerging technologies to
    solve complex problems and drive user engagement.
  </div>
</SectionContainer>
