---
import { getAbsoluteLocaleUrl } from "astro:i18n";
import ArrowUpRight from "../../icons/ArrowUpRight.astro";
import GitHub from "../../icons/GitHub.astro";
import Instagram from "../../icons/Instagram.astro";
import LinkedIn from "../../icons/LinkedIn.astro";
import SocialPill from "../../icons/SocialPill.astro";
import Web from "../../icons/Web.astro";

import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";
import Tooltip from "../Tooltip.astro";

//para cambiar entre idiomas y traducir rutas
const lang = getLangFromUrl(Astro.url);
// const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<!-- Aside para links secundarios -->
<aside>
  <div class="flex gap-2 flex-wrap">
    <SocialPill
      class="px-6 py-3 gap-2 font-semibold text-sm text-white dark:text-white bg-gradient-to-r from-hub-light-blue to-hub-dark-blue hover:from-hub-dark-blue hover:to-hub-light-blue w-auto group shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out"
      href={translatePath("/")}
      target="_self"
    >
      Resume
      <ArrowUpRight
        class="size-4 transition-transform duration-300 ease-in-out group-hover:rotate-45"
      />
    </SocialPill>
    <Tooltip tooltip="Portfolio">
      <SocialPill
        href="https://kelvinmaina.com"
        class=""
        target="_blank"
      >
        <Web class="size-4" />
      </SocialPill>
    </Tooltip>

    <Tooltip tooltip="GitHub">
      <SocialPill
        href="https://www.github.com/kelvinmaina"
        class=""
        target="_blank"
      >
        <GitHub class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="LinkedIn">
      <SocialPill
        href="https://www.linkedin.com/in/kelvinmaina"
        class=""
        target="_blank"
      >
        <LinkedIn class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="Email">
      <SocialPill
        href="mailto:wkelvinmaina@gmail.com"
        class=""
        target="_blank"
      >
        <Web class="size-4" />
      </SocialPill>
    </Tooltip>
  </div>
</aside>
